{% extends "base.html" %}
{% load markup %}

{% block content %}
    <h2>About Me</h2>

    <div class="row">

        <div class="seven columns alpha">
            <p>My name is Cory, but I often go by Lukasa. I'm a software engineer by trade. I am a graduate of the University of St Andrews, with a degree in Physics. I like to write things in Python, but I dabble in other languages, from C to C#/Java to Haskell (sort of). In my spare time, I code for fun; when I'm not doing that, I read, play video games, watch films and TV and write this blog.</p>
        </div>
        
        <div class="five columns omega">
            <blockquote>
                <p>Life as a human contains substance I never dreamed of in the Dreaming, Lord. The little victories, and the tiny defeats.</p>
                <cite>Fiddler's Green, in Neil Gaiman's The Sandman</cite>
            </blockquote>
        </div>

    </div>

{% endblock %}
