{% extends "base.html" %}
{% load markup %}

{% block content %}
    <h2>About Me</h2>

    <div class="row">

        <div class="seven columns alpha">
            <p>Hi there! This is a blog that belongs to someone who is using Minimalog, the minimal blog framework. Unfortunately, they seem to have left the default About page in place, which was silly of them. You should try to contact them and let them know.</p>
        </div>
        
        <div class="five columns omega">
            <blockquote>
                <p>That's the beauty of the web: you can roll around in a stranger's obsession without having to smell his or her house. You can amscray whenever you want without being rude. The site gets its hit, and you know more about our species' diversity.</p>
                <cite>Penn Jilette</cite>
            </blockquote>
        </div>

    </div>

{% endblock %}
