{% extends "base.html" %}
{% load markup %}

{% block content %}
    <h2><a href={{ post_url }}>{{ post_title }}</a></h2>
    {{ post_body|markdown }}

    <div class="comments">
        {% if comments %}
            <h4>{{ comments|length }} Comments</h4>
            {% for comment in comments %}
                <div class="comment-body">
                <p>{{ comment.text|escape }}</p>
                <p><span style="margin-left:20px;">{{ comment.author|escape }} at {{ comment.date|date:"g:i A" }} on {{ comment.date|date:"l, F" }} the {{ comment.date|date:"jS, Y" }}</span></p>
                </div>
            {% endfor %}
        {% else %}
            <h4>No Comments. Be the first!</h4>
        {% endif %}
    </div>
{% endblock %}
